@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss"; 
@theme {
  /* Define your font families here */
  --font-sans: "Poppins", sans-serif; /* Set Poppins as the default sans-serif font */
  --font-dm-sans: " DM Sans", sans-serif; /* Set DM Sans as the default sans-serif font */
  --font-poppins: "Poppins", sans-serif; /* Custom name for Poppins (optional if you set sans) */
}